.top-nav-bar {
  background-color: #8a8a8a;
  .navbar-brand {
    color: #ffffff;
  }
  a {
    color: #ffffff;
  }
  .top-avatar {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}