.top-nav-bar {
  background-color: #545454;
  height: 36px;
  .navbar-brand {
    color: #ffffff;
    img {
      height: 23px;
    }
  }
  a {
    color: #ffffff;
  }
  .top-avatar {
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .dropdown-toggle {
    color: #ffffff !important;
  }
}