.nav-pills .nav-link {
  border-radius: 0;
  background-color: #5b9bd5;
  color: #fff;
  margin-right: 4px;
}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
  background-color: #2f5496;
}