.sidebar {
  .sidebar-item {
    display: block;
    background-color: #292929;
    height: 80px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background-color: black;
    }
    &.active {
      background-color: white;
      color: black;
    }
    .sidebar-icon {
      margin: 17px auto;
    }
    .sidebar-text {
      font-size: 12px;
    }
  }
}