* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  .new-ui {
    padding-top: 96px;
    &.no-token {
      padding-top: 0;
    }
    .under-construction {
        position: relative;
        opacity: 0.6;
        cursor: not-allowed;
    }
    .under-construction::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: repeating-linear-gradient(
          -55deg,
          rgba(0,0,0,.8),
          rgba(0,0,0,.8) 10px,
          rgba(0,0,0,.7) 10px,
          rgba(0,0,0,.7) 20px
        );

        content: '';
    }
    .grey-underline {
      border-bottom: 1px solid #e0e0e0;
    }
    .header {
      padding-bottom: 16px;
      margin-bottom: 0;
      margin-right: -16px;
    }
    .fieldgroup {
      font-size: 13px;
      min-height: 57px;
      align-items: center;
      .fieldname {
        font-weight: bold;
        text-transform: uppercase;
      }
      .fieldvalue {
        padding: 8px 0;
        min-height: 56px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
      }
      i.fa {
        font-size: 18px;
        vertical-align: middle;
      }
    }
    .center-content-wrapper {
      padding: 0 32px;
    }
    .center-content-header {
      box-shadow: 0 12px 8px -8px rgba(0, 0, 0, 0.10);
      margin: 0 -3rem 20px -3rem;
      padding: 20px 32px;
    }
    .center-content-no-breadcrumbs {
      padding: 28px 32px 8px;
    }
    .center-content-header-nomargin-bottom {
      margin-bottom: 0 !important;
    }
    .sub-nav {
      border-bottom: #e0e0e0 solid 1px;
      .nav-link {
        text-transform: uppercase;
        color: #9E9E9E;
        &.active {
          color: black;
          border-bottom: black solid 1px;
        }
      }
    }
    .ReactTable {
      border: none;
      .rt-table {
        overflow: visible;
        .rt-thead {
          font-weight: bold;
          box-shadow: none;
          border-bottom: 1px solid #e0e0e0;
          height: 50px;
          .rt-tr {
            .rt-th {
              line-height: 38px;
              text-align: left;
              border-right: none;
              text-transform: uppercase;
              font-size: 10px;
              .sort-icon-group {
                position: relative;
                .fa {
                  position: absolute;
                  top: 2px;
                  left: 6px;
                }
              }
              &.-sort-desc {
                box-shadow: none;
                .sort-icon-group .fa-sort-asc {
                  display: none;
                }
              }
              &.-sort-asc {
                box-shadow: none;
                .sort-icon-group .fa-sort-desc {
                  display: none;
                }
              }
            }
          }
        }
        .rt-tbody {
          overflow: inherit;
          .rt-tr-group {
            border-bottom: 1px solid #e0e0e0;
            &:hover, &:focus {
              border-bottom: 1px solid #000;
            }
          }
          .rt-td {
            border-right: none;
            padding: .5rem 0 !important;
            line-height: 2.5rem;
            &.dropdown-fix {
              overflow: inherit !important;
            }
            i.fa {
              line-height: calc(2.5rem + 2px);
              vertical-align: middle;
            }
          }
          .sub-component {
            background-color: #F5F5F5;
          }
          .table-icon-avatar {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 2.5rem;
            margin-right: 1rem;
            border: none;
            object-fit: cover;
          }
          .table-icon-group {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: .5rem;
            margin-right: 1rem;
            border: none;
            object-fit: cover;
          }
        }
      }
    }
  }
}
