* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 96px;
  background-color: white;
  .new-ui {
    .center-content-wrapper {
      padding: 0 32px;
    }
    .center-content-header {
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.13);
      margin: 0 -32px 20px -32px;
      padding: 20px 32px;
    }
    .sub-nav {
      border-bottom: #e0e0e0 solid 1px;
      .nav-link {
        text-transform: uppercase;
        color: #9E9E9E;
        &.active {
          color: black;
          border-bottom: black solid 1px;
        }
      }
    }
    .ReactTable {
      border: none;
      .rt-table {
        overflow: visible;
        .rt-thead {
          font-weight: bold;
          box-shadow: none;
          border-bottom: 1px solid #e0e0e0;
          height: 50px;
          .rt-tr {
            .rt-th {
              line-height: 38px;
              text-align: left;
              border-right: none;
              .sort-icon-group {
                position: relative;
                .fa {
                  position: absolute;
                  top: 2px;
                  left: 6px;
                }
              }
              &.-sort-desc {
                box-shadow: none;
                .sort-icon-group .fa-sort-asc {
                  display: none;
                }
              }
              &.-sort-asc {
                box-shadow: none;
                .sort-icon-group .fa-sort-desc {
                  display: none;
                }
              }
            }
          }
        }
        .rt-tbody {
          overflow: inherit;
          .rt-tr-group {
            border-bottom: 1px solid #e0e0e0;
          }
          .rt-td {
            border-right: none;
            &.dropdown-fix {
              overflow: inherit !important;
            }
          }
          .sub-component {
            background-color: #F5F5F5;
          }
          .table-icon-avatar {
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
            border: solid lightgrey 1px;
          }
          .table-icon-group {
            width: 40px;
            border-radius: 20%;
            margin-right: 10px;
            border: solid lightgrey 1px;
          }
        }
      }
    }
  }
}
