.contract-data {
  .contract-header {
    border-radius: 8px;
    background-color: #F5F5F5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    .big-link {
      font-size: 24px;
      color: #2F2F2F;
      display: block;
    }
    .link-type {
      font-size: 10px;
      color: #9E9E9E;
      display: block;
      line-height: 10px;
    }
  }
}
