.group-settings {
  .group-image {
    height: 280px;
    margin: 0 -32px 32px;
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
    }
  }
  .header {
    padding-bottom: 16px;
    margin-bottom: 0;
    margin-right: -16px;
  }
  .fieldgroup {
    font-size: 13px;
    min-height: 57px;
    align-items: center;
    .fieldname {
      font-weight: bold;
      text-transform: uppercase;
    }
    .grey-underline {
      border-bottom: 1px solid #e0e0e0;
      padding: 8px 0;
      min-height: 56px;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
    }
    i.fa {
      font-size: 18px;
      vertical-align: middle;
    }
  }
}
