.field-toggle {
  display: inline-block;
  .field-toggle-switch {
  	cursor: pointer;
  	// text-indent: -9999px;
  	width: 2.5rem;
  	height: 1.5rem;
  	background: #ffffff;
    border: 1px solid #D8D8D8;
    border-radius: 0.75rem;
  	display: block;
  	position: relative;
  }

  .field-toggle-switch:after {
  	content: '';
  	position: absolute;
  	top: 0.125rem;
  	left: 0.125rem;
  	width: 1.125rem;
  	height: 1.125rem;
  	background: #D8D8D8;
  	border-radius: 0.9rem;
  	transition: 0.2s;
  }

  .field-toggle-switch.on {
    border: 1px solid #21D343;
  	background: #ffffff;
  }

  .field-toggle-switch.on:after {
  	left: calc(100% - 0.125rem);
  	transform: translateX(-100%);
    background-color: #21D343;
  }

  .field-toggle-switch:active:after {
   	width: 1.4rem;
  }
}
