.chart-wrapper {
  padding: 15px;
  & > .row {
    background-color: #e7ebee;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    & > :first-child {
      padding-left: 5px;
    }
    & > :last-child {
      padding-right: 5px;
    }
  }
  .panel {
    box-shadow: 0 2px 0 rgba(0,0,0,.05);
    background-color: #fff;
    border-radius: 0;
    border: 0;
  }
  .icon-wrap {
    display: inline-block;
  }
  .icon-wrap-sm {
    padding: 8px;
    margin: 0.8em;
  }
  .icon-circle {
    border-radius: 50%;
  }
  .icon-wrap i {
    display: block;
    line-height: 1em;
    text-align: center;
    position: relative;
    width: 1em;
    vertical-align: middle;
  }
  .fa-2x {
    font-size: 1.25em;
  }
  .panel-mint.panel-colorful, .panel-mint .panel-footer, .panel-mint .panel-heading {
    background-color: #50c7a7;
    border-color: #50c7a7;
    color: #fff;
  }
  .media-body {
    padding-top: 0.4em;
    .power-ticker {
      font-size: 1.2em;
      font-weight: 300;
    }
    p {
      font-size: 0.8em;
    }
  }
  .panel-body {
    padding: 0.8em;
  }
  .btn {
    cursor: pointer;
    border: 0 solid;
    font-size: 12px;
    line-height: 1.42857;
    vertical-align: middle;
    transition: all .25s;
  }
  .btn-default {
    background-color: #fafafa;
    border-color: #cdd6e1;
    color: #515151;
  }
  .btn-circle {
    padding: 8px;
    border-radius: 50%;
    border: solid 1px lightgrey;
    width: 32px;
    height: 32px;
  }
  .btn-chart-next, .btn-chart-prev {
    position: relative;
    -ms-transform: translateY(380%);
    transform: translateY(380%);
    z-index: 1;
    background: hsla(0, 0%, 100%, .7);
  }
  .btn-default.active, .btn-default:active, .btn-default:hover, .open>.dropdown-toggle.btn-default {
    background-color: #e9e9e9;
    border-color: #cdd6e1;
    color: #515151;
  }
}
