.todo-list-block {
  background-color: #F5F5F5;
  padding: 24px;
  .incompleteness {
    margin-bottom: 3rem;
    .incompleteness-item {
      padding: 6px;
      .incompleteness-title {
        font-weight: bold;
      }
      .incompleteness-errors {
        color: #f57c00;
      }
    }
  }
  .todo-list-block {
    .todo-header {}
    .todo-list {
      .todo-item {
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: #e0e0e0 solid 1px;
        .fa {
          margin-right: 10px;
          color: #9E9E9E;
          &.active {
            color: black;
          }
        }
      }
    }
  }
}
