.signin-background {
  background-color: blue;
  .form-signin-wrapper {
    background: white;
    border-radius: 40px;
    max-width: 480px;
    max-height: 480px;
    padding: 15px;
    margin: 0 auto;
    .form-signin {
      padding: 80px;
      .signin-logo {
        margin: 0 auto 20px auto;
        display: block;
      }
      .form-signin-heading, .checkbox {
        margin-bottom: 10px;
      }
      input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
      }
      .btn {
        cursor: pointer;
      }
    }
  }
}
